/* THE SILLINESS */
@font-face {
    font-family: "myFont";
    src: url("myFont.woff2");
  }

/* Header styling */
.header {
    padding: 10px 16px;
    background: #E76F51;
    color: #264653;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content */
  .sticky + .content {
    padding-top: 102px;
  }
body {
    background-color: #E9C46A;
}
/* Body content styling */
p {
    color: #2A9D8F;
    font-size: 24px;
}