/* Header styling */
.header {
    padding: 10px 16px;
    background: #264653;
    color: #ffffff;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content */
  .sticky + .content {
    padding-top: 102px;
  }
.body {
    background-color: #E9C46A;
}
/* Body content styling */
p {
    color: red;
}