body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #c6d8ff;
}

.header {
  padding: 10px 16px;
  background: #71A9F7;
  color: #000;
}

/* Menu words style */
.menu {
  list-style: none;
  color: #fff;
  width: 150px;
  text-align: center;
}

/* Toggle styling */
#icon {
  cursor: pointer;
  display: block;
  background-color: #71A9F7;
  width: 50px;
  padding: 8px 0px;
  font-size: 30px;
  margin: -5px;
  border-radius: 30px;
  transition: all 0.3s;
  user-select: none;
}

/* Menu list styling */
#list {
  background-color: #72195A;
  padding: 25px 0px;
  border-radius: 14px;
  margin-top: 20px;
  transition: all 0.3s;
  transform: scale(0);
}

/* Padding between list items */
#list li {
  padding: 15px 0px;
}

/* Menu text styling */
#list li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/* Style change on hover */
#list li a:hover {
  background-color:#6B5CA5
}

/* Menu animation */
.animate {
  transform: scale(1) !important;
}